.root
{
    -fx-background-color: #ded8c5;
}

#title
{
    -fx-alignment: center;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 40;
}

.pane {
    -fx-border-color: #a9a291;
    -fx-border-width: 2.5px;
}

.text
{
    -fx-border-color: gray;
}

.lid
{
    -fx-font-size: 15;
}

