.root
{
    -fx-background-color: #ded8c5;
}

#title
{
    -fx-alignment: center;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 40;
}


.label
{
    -fx-alignment: center;
    -fx-font-size: 20;
}

#login
{
    -fx-background-color: #dedede;
    -fx-border-radius: 12;
}

.text
{
    -fx-border-color: gray;
}

#pass_re_reg
{
    -fx-font-size: 18;
}
#reg
{
    -fx-background-color: #dedede;
    -fx-border-radius: 12;
}

#iniciar:hover
{
    -fx-border-color: #a9a291;
    -fx-border-width: 0px 0px 3px 3px;
}

#registrarse:hover
{
    -fx-border-color: #a9a291;
    -fx-border-width: 0px 0px 3px 3px;
}

#error_log
{
    -fx-text-fill: red;
    -fx-font-size: 14;
}
#error_reg
 {
    -fx-text-fill: red;
    -fx-font-size: 14;

}

